form {
    width: 180px;
}

label {
    color: #666666;
}

input[type=text], input[type=email] {
    width: 950px;
    padding: 5px 2px;
    margin: 8px 0;
}

textarea {
    width: 950px;
    height: 150px;
    padding: 5px 2px;
    margin: 8px 0;
}

button {
    background-color: teal;
    color: white;
    padding: 8px 8px;
    border: none;
    width: 80px;
}